body {
    font-family: Arial, sans-serif;
    background-color: #e5dada;
    margin: 0;
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
  }
  
  p {
    color: #666;
    text-align: center;
  }
  
  form {
    color: #666;
    text-align: center;
  }

  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #005f80;
  }
  nav {
    background-color: #333;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
  }
  
  nav a:hover {
    background-color: #fff;
    color: #333;
  }
  