<!DOCTYPE html>

<html>
    <head>
        <head>
            <meta charset="utf-8">
            <title>Welcome to "CURD" Page</title>
        </head>
    </head>

    <body>
        <h1>Read</h1>
        <button type = 'button' onclick="window.location.href='/read'">Read Data</button>

        <h1>Insert</h1>
        <form action="/insert">
            Notification:            <input type="text" name = "notification"  /> <br>
            
            Equipment:               <input type="text" name = "equipment"  /> <br>
            Type:                    <input type="text" name = "type"  /> <br>
            Description_equipment:   <input type="text" name = "description_equipment"  /> <br>
            Description_problem:     <input type="text" name = "description_problem"  /> <br>
            Cost_centre:             <input type="text" name = "cost_centre"  /> <br>
            Reported_by:             <input type="text" name = "reported_by"  /> <br>
            <input type="submit" />
        </form>
    </body>
</html>