<!DOCTYPE html>

<html>
    <head>
        <head>
            <meta charset="utf-8">
            <title>Welcome to "CURD" Page</title>
        </head>
    </head>

    <body>
        <h1>Read</h1>
        <button type = 'button' onclick="window.location.href='/read'">Read Data</button>

        <h1>Insert</h1>
        <form action="/insert">
            Notification: <input notification = "notification" type="text" /> <br>
            Eqiuipment: <input eqiuipment = "equipment" type="text" /> <br>
            <input type="submit" />
        </form>





    </body>


</html>